<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js" ></script>
	<link rel="stylesheet" href="css/style.css">

<script
src="http://maps.googleapis.com/maps/api/js">
</script>

<body >
	

<div class="" ng-app="myApp" ng-controller="myCtrl">


<table class="table table-striped">
<thead>
    <div class="jumbotron">
    <h3 class="headerTitle"> This is a simple front-end site using angular.js framework </h3> 
    </div>

</thead>
    <tbody>
<tr><td>

<!-- select -->
        <div id="selectCar1" class="row">
            <div class="col-sm-3">

                   <h3>  <span class="glyphicon glyphicon-tag"></span> Car model:</h3>
                    <select ng-model="selectedCar" ng-options="x.model for x in cars">
                    </select>

            </div>
            <div class="col-sm-6">
                    <h3><span class="glyphicon glyphicon-comment"></span> Description:</h3>
                    <p>{{selectedCar.desc}}</p>                    
            </div>
              <div class="col-sm-3">
                    <h3><span class="glyphicon glyphicon-wrench"></span> Type:</h3>
                    <p>{{selectedCar.types}}</p>                    
            </div>
 
        </div>
        <div ng-show="selectedCar" class="row carImage">
            <div class="col-sm-12" >
                    <h3>{{selectedCar.model}}</h3>
                    <div class="imagePicFrame">
                    <img class="imagePic"   src="images/{{selectedCar.pic}}.jpg"  />
                    </div>
            </div>
        </div>


</td></tr>


<tr><td>
<!-- search input -->
        <div class="row" >
            <div class="col-sm-12">
                <h3><span class="glyphicon glyphicon-search"></span> Search model based on your filter input</h3>
                <p><input ng-click="myFunc()"   type="text" ng-model="filterInput"/></p>
                
                <div ng-show="showMe"  >
                <ul>
                    <li ng-repeat="x in cars | filter:filterInput" class="thumbnail car-listing" >
                        {{x.model}} 
                        <img id="imagePic2" src="images/{{x.pic}}.jpg" width="100px" height="100px"  />
                    </li>
                </ul> 
                </div>
            </div>
        </div>

</td></tr>

<tr><td>
<!-- edit/create new -->
        <div class="row">
            <div class="col-sm-12">
              <h3> <span class="glyphicon glyphicon-edit"></span> Edit or Create New</h3>
                <table class="table-striped">
                    <tr>
                        <th>Edit</th>
                        <th>Cars</th>
                        <th>Types</th>
                        <th>Description</th>
                   
                    </tr>
                    <tr ng-repeat="car in cars">
                        <td><button id="editCar" onclick="editCar()" type="button" class="btn btn-primary" ng-click="editCar(car.id)">&#9998; Edit</button></td>

                        <td> {{car.model}} </td>
                        <td>| {{car.types}} </td>
                        <td>| {{car.desc}} </td>
                        
                    </tr>
                </table>

                <button class="btn btn-default" ng-click="editCar('new')">&#9998; Create New Car</button>

                <form ng-hide="hideform" name="myForm">
                    <h3 ng-show="edit">Create New Car:</h3>
                    <h3 ng-hide="edit">Edit Car:</h3>
                    <label class="labelClass">Model:</label>
                    <input  type="text" ng-model="model" ng-disabled="!edit" placeholder="put model here!" required>
                    <br>
                    <label class="labelClass">Type:</label>
                    <input  type="text" ng-model="types" ng-disabled="!edit" placeholder="put types here!" required>
                    <br>
                    <label class="labelClass">Description:</label>
                    <input type="text" ng-model="desc"  placeholder="put description here!" required>
                    <br>
                    <label class="labelClass">Picture#:</label>
                    <input type="text" ng-model="pic"  placeholder="put pic# here!" required>
                    <br>

                    <button ng-click="count=count+1" class="btn btn-primary" ng-disabled="incomplete">&#10004; Save!</button>
                    <div id="saveClickResult"># of Modification tried is: {{count}}</div>
                </form>

            </div>
        </div>
</td></tr>
</tbody>
</table>

</div>




 <div id="googleMap"></div>

<div id="footnote">
<a href="http://www.HidayatHasan.net" target="_blank">Copyright © 2016 HidayatHasan.net</a>
</div>


<script>
var myCenter=new google.maps.LatLng(29.738790,-95.464659);
function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:15,
  mapTypeId:google.maps.MapTypeId.ROADMAP,
      styles:[

        {  stylers: [ { hue: "#000000" } ] }
    ]

  };


var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker=new google.maps.Marker({
  position:myCenter,
  });
marker.setMap(map);
var infowindow = new google.maps.InfoWindow({
  content:"Visit us here!"
  });
infowindow.open(map,marker);

var mapType = new google.maps.StyledMapType(style, {name:"Grayscale"}); 
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>


</body>
</html>